@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

:root {
  --color-blue-50: #eff5ff;
  --color-blue-100: #dae8ff;
  --color-blue-200: #bed8ff;
  --color-blue-300: #91c0ff;
  --color-blue-400: #5d9efd;
  --color-blue-500: #3778fa;
  --color-blue-600: #2158ef;
  --color-blue-700: #1943db;
  --color-blue-800: #1b37b2;
  --color-blue-900: #1c348c;
  --color-blue-950: #162155;
  --bg:#EDEDED;
  --shadow:0px 4px 8px #1620551a;
  --transition: all 0.5s ease !important;
}


/* ====== config general ====== */

h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.7;
  color: var(--color-blue-700)!important;
}

a {
  text-decoration: none !important;
  color: var(--color-blue-700)!important;
  transition: var(--transition)!important;
}

a:hover {
  color: var(--color-blue-600)!important;
}

/* ====== btn boton ====== */

.btn{
  font-weight: 500 !important;
  transition: var(--transition);
}

.btn-principal{
  color: #fff !important;
  background: linear-gradient(45deg, var(--color-blue-600), var(--color-blue-800));
}

.btn-principal:hover{
  color: #fff!important;
  background: linear-gradient(-45deg, var(--color-blue-500), var(--color-blue-700));
}

.btn-principal-blanco{
  border: 2px solid #fff !important;
  color: #fff !important;
  background: none !important;
}

.btn-principal-blanco:hover{
  background: var(--color-blue-50)!important;
  color: linear-gradient(-45deg, var(--color-blue-500), var(--color-blue-700))!important;
}

/* ====== navbar ====== */

.navbar {
  position: absolute !important;
  width: 100%;
  z-index: 1;
  box-shadow: var(--shadow);
}

.nav-logo {
  width: 65px;
  transition: var(--transition);
}

.nav-item a{
  font-weight: 600;
}


/* ====== header ====== */

#inicio{
  background-color: var(--bg);
}


/* ====== cards ====== */

.card{
  border: 2px solid var(--bg) !important;
  border-radius: 10px !important;
  color: var(--color-blue-700) !important;
  padding: 0px !important;
}


.card:hover .card-body{
  background-color: var(--bg);
}

.card-body{
  transition: var(--transition);
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.card-text{
  font-size: 14px !important;
}

.card-img-top{
  object-fit: cover !important;
  height: 250px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}


/* ====== pendrive ====== */

#pendrive{
  background-color: var(--color-blue-800);
}

.home-img-pendrive{
  width: 250px;
  border-radius: 10px;
}